@charset "UTF-8";

body,h1,h2,h3,ul,li,p{
	margin: 0;
	padding: 0;
}
header{
  overflow: hidden;
}
.logo-img{
	margin:10px 0;
 	float: left;
}
.tel{
  float:right;
  margin-top:40px;
}
nav ul li.map{
	margin-right: 20px;
}
/*header,nav,mainを幅1200px中央揃え*/
header{
	max-width:1200px;
	margin:0 auto;
}	
#bs-example-navbar-collapse-1{
	max-width:1200px;
	margin:0 auto;
}
main{
	max-width:1200px;
	margin:0 auto;
}

/* index */
.pickup_btn{
  text-align: right;
  margin-top: 10px;
}
.caption p{
  margin:10px 0;
}

.thumbnail{
  position: relative;
  width: 100%;
}
.thumbnail>.caption>a{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.thumbnail>.caption>a:hover{
  background-color: #ccc;
  filter:alpha(opacity=30);
  opacity:0.3;
  border-radius: 3px;
}
#youtube{
	width:100%;
	height:100%;
	overflow:hidden
}
#youtube .mv{
	float:left;
	width:45%;
	padding:5px;
}
iframe{
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  vertical-align: middle;
}
/* table */
.table_1{
width: 100%;
border-collapse: collapse;
}
.table_1 th{
width: 25%;
padding: 6px 8px;
text-align: left;
vertical-align: top;
color: #333;
background-color: #eee;
border: 1px solid #b9b9b9;
}
.table_1 td{
padding: 6px;
background-color: #fff;
border: 1px solid #b9b9b9;
text-align: right;
}

/* access */
.google-maps{
	max-width:1200px;
	margin-bottom: 20px;
}
address p{
  margin:10px 0;
}
footer {
  text-align: center;
  padding: 10px;
  background: #4b0409;
  color: #dcd3cf;
}




@media screen and (max-width: 480px) {
  .logo-img{
    margin:10px 0 0 0;
    float: left;
  }
  .tel{
    float:right;
    margin-top:0;
  }
  nav ul li.map{
    margin-right: 0;
  }
  #youtube .mv{
	float:none;
	width:100%;
}
  /* instrument商品詳細 */
  #photo ul li {
	  display:inline-block;
	  margin-bottom:5px;
  }
}

/*汎用*/
.bb_dot{
	border-bottom:1px dotted #b9b9b9;
}
.soldout{
	color:#868686;
	text-align:right;
	font-size:1.2em;
}
.price{
	text-align:right;
}
.Gray{color:#868686;}

.float_L{float:left;}
.float_R{float:right;}

.pt10{padding-top:10px;}
.pt20{padding-top:20px;}
.pt30{padding-top:30px;}

.pb10{padding-bottom:10px;}
.pb20{padding-bottom:20px;}
.pb30{padding-bottom:30px;}

.pl10{padding-left:10px;}
.pl20{padding-left:20px;}
.pl30{padding-left:30px;}

.pr10{padding-right:10px;}
.pr20{padding-right:20px;}
.pr30{padding-right:30px;}

.mt10{margin-top:10px;}
.mt20{margin-top:20px;}
.mt30{margin-top:30px;}

.mb10{margin-bottom:10px;}
.mb20{margin-bottom:20px;}
.mb30{margin-bottom:30px;}

.ml10{margin-left:10px;}
.ml20{margin-left:20px;}
.ml30{margin-left:30px;}

.mr10{margin-right:10px;}
.mr20{margin-right:20px;}
.mr30{margin-right:30px;}

.line-through{text-decoration:line-through;}
